@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer components {
  html {
    font-family: "Poppins", Arial, sans-serif;
  }

  .nav_item {
    border: none;
    position: relative;
  }

  .nav_item:hover {
    border: none;
  }

  .nav_item::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #fd7792;
    transition: all 0.5s ease-out;
  }

  .nav_item:hover::after {
    width: 100%;
    left: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Poppins", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}